/* Small devices (phones & small tablets) */
#root {
    position: absolute;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../bg.jpg');
    background-size: 700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin: 0;
}

.appContainer {
    padding: 2rem 2rem;
    text-align: center;
}

/* Header */
.scoreHeader {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 4px solid rgb(13, 175, 199);
    border-radius: 10px;
    margin-bottom: 20px;
}
    .visible {
        visibility: visible;
    }
    .hidden {
        visibility: hidden;
    }

/* Main */
.main {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}
    .tealBorder {
        border: 4px solid rgb(35, 201, 226);
    }
    .pinkBorder {
        border: 4px solid rgb(250, 127, 168);
    }

    .difficultySelect{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .difficultyButton{
            padding: 10px 0px;
            margin-bottom: 10px;
            font-size: large;
            border-radius: 4px;
            border: 4px solid rgb(193, 121, 238);
            background-color: white;
        }
        .checkbox {
            margin-right: 10px;
        }

/* Answer Buttons */
.answersContainer {
    display: grid;
}
    .answerButton {
        min-height: 2rem;
        font-size: large;
        background-color: white;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 10px 0px;
        border: 4px solid rgb(255, 216, 119);
    }
    .correct {
        background-color: aquamarine;
        border-color: rgb(105, 253, 174);
        color:black;
    }
    .incorrect {
        background-color:lightcoral;
        border-color: rgb(239, 119, 129);
        color:black;
    }
    .other {
        border: 4px solid rgb(255, 237, 191);
    }

/* Proceed in quiz buttons */
.startButton, .nextButton, .replayButton {
    border: 4px solid #0000ff;
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-size: large;
    padding: 10px 30px;
    width: fit-content;
    margin: 10px auto auto auto;
}
.startButton:disabled, .nextButton:disabled, .replayButton:disabled {
    border: 4px solid rgb(31, 46, 159);
    background-color: rgb(31, 46, 159);
    filter: brightness(70%);
    opacity: 0.8;
    font-size: large;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .appContainer {
        padding: 2rem 2rem;
        text-align: center;
        width: 500px;
        margin: auto;
    }
    .visible {
        display: flex;
    }
    .hidden {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .appContainer {
        width: 600px;
    }
    .main{
        padding: 2rem 4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}